/* .dropdowh-hover:hover {
  color: black;
} */

.menu-dropdown-bg {
  background: burlywood;
}
.hover-search {
  color: black;
}
.hover-search:hover {
  background: #f3a847 !important;
}
.corsol-smalld-left {
  height: 250px;
  width: 80px;
}

.corsol-smalld-right {
  height: 250px;
  width: 80px;
}
.prodact-card {
  width: 380px;
  height: 400px;
}
